@import url("https://fonts.googleapis.com/css?family=Cinzel|Montserrat&display=swap");

h1 {
    font-family: "Cinzel", serif;
}
p {
    font-family: "Montserrat", sans-serif;
}
.tripAddButton {
    font-family: "Montserrat", sans-serif;
    background-color: #015939;
    color: white;
    border-radius: 5px;
    padding: 8px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-left: 500px;
    max-width: 155px;
    /* display: flex;
    align-content: center; */
  }
.card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    border-radius: 5px;
    background:white;
    margin-bottom: 1.5em;
    /* flex: 0 1 24%; */
    width: 30%;
 text-align: left;
  }
  
  .card-content {
    padding: .5em;
  }
  
  .card-content p {
    font-size: 100%;
    color:black;
  }

  .tripAddButton:hover {
    background-color: #027272;
  }
  /* .container {
      display: flex;
      align-content: center;
  } */
  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
  