@import url("https://fonts.googleapis.com/css?family=Cinzel|Montserrat&display=swap");

h1,h2,h3,h4 {
    font-family: "Cinzel", serif;
}
p {
    font-family: "Montserrat", sans-serif;
}
.button {
    font-family: "Montserrat", sans-serif;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}